.appointment-container {
  padding: 32px;
  background-color: #f4f4f4;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-header {
  margin-bottom: 40px; /* Increase the bottom margin for more space */
  text-align: center;
}

.appointment-form {
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 24px; /* Add top margin to create space */
}

.submit-button {
  margin-top: 16px;
  width: 100%;
  background-color: black !important; /* Ensure the color is applied */
  color: white; /* Ensure the text color contrasts well with the green background */
}

img {
  display: block;
  margin: 0px auto;
  width: 330px;
  height: 50px;
}
